.menu {
    background-color: #252525;
    width: 8%;
}

.section_one {
    padding-top: 20px;
}

.section_one a {
    color: white;
}

.section_one i {
    margin-right: 5px;
}

.icon {
    padding-top: 20px;
}

.content {
    padding: 16px;
    background-color: #fff;
}