<mat-card class="create-form">

    <mat-card-title>
        Adicionar uma nova camiseta:
    </mat-card-title>

    <form>
        
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="shirt.name" name="name">  
        </mat-form-field>

       <mat-form-field> 

            <select matNativeControl [(ngModel)]="shirt.size" name="size">

                <option value="" disabled selected>Selecione um tamanho</option>
                <option value="PP">PP</option>
                <option value="P">P</option>
                <option value="M">M</option>
                <option value="G">G</option>
                <option value="GG">GG</option>
                <option value="XG">XG</option>

            </select>

       </mat-form-field>

       <mat-form-field> 

        <select matNativeControl [(ngModel)]="shirt.type" name="type">

            <option value="" disabled selected>Selecione o tipo da camiseta</option>
            <option value="BÁSICA">Básica</option>
            <option value="ESTAMPADA">Estampada</option>

        </select>

   </mat-form-field>

        <!-- <mat-form-field>
            <input matInput placeholder="Tamanho" [(ngModel)]="shirt.size" name="size">  
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Tipo" [(ngModel)]="shirt.type" name="type">  
        </mat-form-field> -->

        <mat-form-field>
            <input matInput placeholder="URL da imagem" [(ngModel)]="shirt.url" name="url">  
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Preço" [(ngModel)]="shirt.price" name="price">  
        </mat-form-field>

    </form>

    <button appBtnConfirm (click)="createProduct()">Adicionar produto</button>

    <button appBtnCancel (click)="cancel()">Cancelar</button>



</mat-card>